###############################################
# Universal
###############################################

#ignore these directories
Drivers/
EWARM/

# ignore these files
.mxproject
*.ioc
*.pdf
*.txt

###############################################
# Project specific
###############################################